@font-face {
  font-family: OpenSansHebrewRegular;
  src: url(assets/fonts/OpenSansHebrew-Regular.ttf);
}
@font-face {
  font-family: OpenSansHebrewLight;
  src: url(assets/fonts/OpenSansHebrew-Light.ttf);
}
@font-face {
  font-family: OpenSansHebrewBold;
  src: url(assets/fonts/OpenSansHebrew-Bold.ttf);
}

@font-face {
  font-family: OpenSansHebrewExtraBold;
  src: url(assets/fonts/OpenSansHebrew-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSansHebrewItalic;
  src: url(../assets/fonts/OpenSansHebrew-Italic.ttf);
}
@font-face {
  font-family: OpenSansHebrewLightItalic;
  src: url(../assets/fonts/OpenSansHebrew-LightItalic.ttf);
}

@font-face {
  font-family: OpenSansHebrewBoldItalic;
  src: url(../assets/fonts/OpenSansHebrew-BoldItalic.ttf);
}
@font-face {
  font-family: OpenSansHebrewExtraBoldItalic;
  src: url(../assets/fonts/OpenSansHebrew-ExtraBoldItalic.ttf);
}



