@import url("_colors.scss");

.yl_input,
.yl_checkbox {
  &:focus {
    border: 1px solid $checkboxBg !important;
  }
}

.yl_input {
  border: 1px solid $primaryBorder;
  border-radius: 100px;
  color: $primaryText;
  font-size: 14px;
  max-width: 483px;
  &::placeholder {
    color: $primaryBorder;
  }
}
.yl_checkbox {
  width: 20px !important;
  height: 20px !important;
  border-radius: 4px;
  background-position: 68% 54% !important;
  border: 1px solid $checkboxBorder !important;
  &:checked {
    background-color: $checkboxBg !important;
  }
  &:focus {
  }
}
.yl_dropdown{
  position: relative;
  max-width: 278px;
  input{
    border: 1px solid rgba(46, 91, 210, 0.34);

  }
  ul.yl_dropdown__wrapper{
    width: 100%;
    position:absolute;
    top: 100%;
    box-shadow: 0 5px 24px 0 rgba(2,58,120,0.15);
    border-radius: 23px;
    padding: 12px 0 ;
    height: 264px;
    overflow-y: auto;
    display: none;
    &.show{
      display: block;
    }
    li{
      padding: 12px 20px;
      cursor:pointer;
      //border: 1px solid red;
      label{
        display: flex;
       align-items: flex-end;
        position: relative;
        span{
          color: #4C5F77;
          position: absolute;
          top: -4px;
          right: 27px;
          font-size: 14px;
        }
      }
    }
  }
}
